header(class="bg-white shadow mb-8")
  nav(class="container mx-auto px-4 py-4 flex justify-between items-center")
    h1.text-2xl.font-bold.text-indigo-600 PixReader
    ul.flex.space-x-6
      li
        a(href="/ocr" class="text-gray-700 hover:text-indigo-600") OCR (Image to Text)
      li
        a(href="/text-to-image" class="text-gray-700 hover:text-indigo-600") Text to Image
